.shop_container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cart_container {
  background-color: #fbd57d;
}
