.header {
  background-color: rgba(28, 43, 53, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0;
  height: 80px;
  /* width: 100%; */
  /* position: fixed; */
  /* right: 0;
  left: 0;
  top: 0; */
}

.header a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}
