Reset some default styles * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the login container */
.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 600px;
  height: 400px;
  margin: 20px auto;
  /* min-height: 100vh; */
}

/* Style the login form */
#login-form {
  display: flex;
  flex-direction: column;
}

/* Style input fields and labels */
.input-container {
  /* margin: 10px 20px; */
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Style the login button */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
